<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.accommodationmanagement.mapper.ApplicationMapper">

    <select id="pageList" resultType="com.scu.accommodationmanagement.model.po.Application">
        SELECT * FROM application
        <where>
            is_deleted = 0
            <!-- 申请人ID匹配 -->
            <if test="applierId != null and applierId != ''">
                AND applier_id = #{studentId}
            </if>

            <!-- 申请类型匹配 -->
            <if test="applicationType != null and applicationType != ''">
                AND application_type = #{applicationType}
            </if>

            <!-- 状态匹配 -->
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>

            <!-- 时间范围处理 -->
            <if test="startTime != null and endTime != null">
                AND application_time BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="startTime != null and endTime == null">
                AND application_time >= #{startTime}
            </if>
            <if test="startTime == null and endTime != null">
                AND application_time &lt;= #{endTime}
            </if>
            and is_deleted = 0
        </where>
        ORDER BY application_time DESC
    </select>

    <select id="myApplication" resultType="com.scu.accommodationmanagement.model.po.Application">
        SELECT *
        FROM application
        WHERE applier_id = #{userId} and is_deleted = 0
        ORDER BY application_time DESC
    </select>
    <select id="getLatestByApplierId" resultType="com.scu.accommodationmanagement.model.po.Application">
        SELECT *
        FROM application
        WHERE applier_id = #{userId} and is_deleted = 0
        ORDER BY application_time DESC
        LIMIT 1
    </select>
    <select id="getByTargetBed" resultType="com.scu.accommodationmanagement.model.po.Application"
            parameterType="java.lang.Long">
        select *
        from application
        where target_bed = #{targetBed} and is_deleted = 0 and (status = '已处理' or status = '待处理')
        order by application_time desc
        limit 1
    </select>
</mapper>
