<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.accommodationmanagement.mapper.BedMapper">

    <select id="getLocationByUserId" resultType="java.lang.String">
        SELECT
            CONCAT(
                    p.name, '-',
                    b.building_id, '栋', '-',
                    r.room_id, '房', '-',
                    bed.bed_id
            ) AS location
        FROM bed
                 INNER JOIN room r ON bed.room_id = r.room_id
                 INNER JOIN building b ON r.building_id = b.building_id
                 INNER JOIN park p ON b.park_id = p.park_id
        WHERE bed.user_id = #{userId}
    </select>
</mapper>
