<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.accommodationmanagement.mapper.RoomMapper">

    <select id="getRoomsByBuilding" resultType="com.scu.accommodationmanagement.model.po.Room"
            parameterType="java.lang.Long">
        SELECT r.*
        FROM room r
        WHERE r.building_id = #{buildingId}
          AND r.bed_num > (
            SELECT COUNT(b.user_id)
            FROM bed b
            WHERE b.room_id = r.room_id
              AND b.user_id IS NOT NULL
        )
        ORDER BY r.floor ASC
    </select>
</mapper>
