<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.accommodationmanagement.mapper.RoomMapper">

    <select id="getRoomsByBuilding" resultType="com.scu.accommodationmanagement.model.po.Room"
            parameterType="java.lang.Long">
        SELECT r.*
        FROM room r
        WHERE r.building_id = #{buildingId}
          AND r.bed_num > (
            SELECT COUNT(b.user_id)
            FROM bed b
            WHERE b.room_id = r.room_id
              AND b.user_id IS NOT NULL
        )
        ORDER BY r.floor ASC
    </select>
    <select id="getlist" resultType="com.scu.accommodationmanagement.model.po.Room">
        select * from room r
        inner join building b on r.building_id = b.building_id
        inner join park p on b.park_id = p.park_id
        <where>
            <if test="parkId!= null">
                and p.park_id = #{parkId}
            </if>
            <if test="buildingId!= null">
                and b.building_id = #{buildingId}
            </if>
            <if test="floor!= null">
                and r.floor = #{floor}
            </if>
        </where>
    </select>
</mapper>
