<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scu.accommodationmanagement.mapper.UserMapper">


    <select id="getDormitoryAdminIdByUserId" resultType="java.lang.Long" parameterType="java.lang.Long">
        SELECT
            bld.dormitory_id
        FROM
            bed b
                INNER JOIN room r ON b.room_id = r.room_id
                INNER JOIN building bld ON r.building_id = bld.building_id
        WHERE
            b.user_id = #{userId}
    </select>
</mapper>
